<table>
<tr>

<td>
<form action="/" method="post">
  <input name="commit" type="submit" value="Done" />
    &nbsp;
</form>
</td>

<td>
<%= form_tag :action => 'pay' do %>
  <%= submit_tag "Back" %>
    &nbsp;
<% end %>
</td>

</tr>
</table>
